:root{
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: ;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 400px;
    height: 600px;
    background-color: aquamarine;
}